<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/signin.css" />
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/tooltip.min.js"></script>
    <title>Title</title>
</head>
<body>



<form method="post" class="form-auto" action="/hood/">
    {% csrf_token %}
	<div class="form-group">
		<div class="field field-icon">
			<input type="text" class="input" id="username" name="username" size="30" placeholder="手机/邮箱/账号" />
			<span class="icon icon-user"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="field field-icon">
			<input type="password" class="input" id="password" name="password" size="30" placeholder="请输入密码" />
			<span class="icon icon-key"></span>
		</div>
	</div>
	<div class="form-button">
		<button class="button" type="submit">
			登录</button>
	</div>
</form>


</body>
</html>